.App {}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crossword-matrix {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  cursor: pointer;
  user-select: none;
}

.row {}

.row__item {
  box-sizing: border-box;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  text-align: center;
  padding-top: 0.2rem;
  /* margin: .5rem; */
  transition-property: background-color, font-weight, color;
  transition-duration: .25s;
}

.row__item_active {
  background-color: grey;
  font-weight: 600;
  color: white;
  transition: all .25s ease 0s;
  ;
}